# API Banco Central
API_BASE_URL=https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata
CURRENCIES=USD,EUR,GBP
API_TIMEOUT_SECONDS=30
API_MAX_ATTEMPTS=3

# SQL Server
DB_SERVER=localhost
DB_DATABASE=EngenhariaDeDados
DB_DRIVER=ODBC Driver 18 for SQL Server

# Tipo de autenticação: windows ou sql
DB_AUTH=windows

# Utilizados apenas quando DB_AUTH=sql
DB_USERNAME=
DB_PASSWORD=

# Desenvolvimento local
DB_TRUST_SERVER_CERTIFICATE=yes

# Log
LOG_LEVEL=INFO
LOG_MAX_BYTES=5000000
LOG_BACKUP_COUNT=5